<!doctype html>
<html>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; minimum-scale=1; user-scalable=no;">
<title>HAPPY GO-卡友專區</title>
<link rel="stylesheet" href="css/common.css" />
<link rel="stylesheet" media="only screen and (max-width: 603px)" href="css/m-index.css">
<link rel="stylesheet" media="only screen and (min-width: 604px) and (max-width: 999px)" href="css/pad.css">
<link rel="stylesheet" href="css/pushy.css">
<link rel="stylesheet" href="css/contractor.css" />
<!-- 輪播效果-->
<link rel="stylesheet" type="text/css" href="css/slick.css"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<!-- 時鐘 -->
<script type="text/javascript" src="js/jquery.plugin.min.js"></script>
<script type="text/javascript" src="js/jquery.countdown.js"></script>
<!-- 選單 -->
<script src="js/menu.js"></script>
<!-- ad -->
<script type="text/javascript" src="js/ad.js"></script>
<!-- Pushy JS -->
<script src="js/pushy.min.js"></script>
</head><body>
<!-- Pushy Menu -->
<nav class="pushy pushy-left">
  <div class="search">
    <input type="text">
  </div>
  <div class="clr"></div>
  <ul>
    <li class="main"><a href="#">會員登入</a></li>
    <li class="main"><a href="#">卡友好康</a></li>
    <li class="main"><a href="#">卡友專區</a></li>
    <li class="main"><a href="#">愛心捐點</a></li>
    <li class="main"><a href="#">快樂購特約商</a></li>
    <li class="main"><a href="#">快樂購卡介紹</a></li>
    <li class="main"><a href="#">下載手機APP</a></li>
    <li><a href="#">連絡我們</a></li>
    <li><a href="#">快樂購卡友權益需知</a></li>
    <li><a href="#">智慧財產權保護聲明</a></li>
    <li><a href="#">快樂購卡特約商服務網站</a></li>
    <li><a href="#">友好夥伴</a></li>
  </ul>
</nav>

<!-- Site Overlay -->
<div class="site-overlay"></div>
<!-- 手機版測邊選單 -->
<div class="m-header">
  <div class="menu-btn"></div>
  <div class="logo"></div>
</div>
<div class="top">
  <div class="topnav">
    <div class="fL"><img src="images/fb-like.png"> </div>
    <div class="fL"><a href="#"><img src="images/icon-mobile.png"></a></div>
    <div class="anbox fR">
      <ul class="anpop">
        <li class="anlog"><a href="#"></a></li>
      </ul>
    </div>
    <div class="fR"> <a href="#">關於快樂購</a>　　<a href="#">成為特約商</a>　　<a href="#">異業/廣告合作</a>　　<a href="#">GoSurvey</a>　　<a href="#">Go Happy</a> </div>
    <div class="clr"></div>
  </div>
</div>
<nav class="header">
  <div class="com">
    <div class="logo"><img src="images/logo.png"></div>
    <div class="searchArea"><span class="keywords">熱門： <a href="#">跨年集點趣</a>、<a href="#">點數變現金</a></span>
      <input class="query-input" id="nav-search-input" placeholder="請輸入查詢關鍵字" />
    </div>
    <div class="clock">
      <div class="clocktit">點數優惠兌換倒數</div>
      <div id="clock"></div>
    </div>
    <div id="abgne-block">
      <ul class="tabs">
        <li class="m1"><a href="#">卡友好康</a></li>
        <li class="m2"><a href="#">卡友專區</a></li>
        <li class="m3"><a href="#">愛心捐點</a></li>
        <li class="m4"><a href="#">達人GO物誌</a></li>
        <li class="m5"><a href="#">快樂購特約商</a></li>
        <li class="m6"><a href="#">快樂購卡介紹</a></li>
        <li class="m7"><a href="#">連絡我們</a></li>
      </ul>
      <div class="tab_container">
        <ul class="tab_content">
          <li class="m01">
            <div class="subnavbox">
              <div class="mainL">
                <div class="fL"><img src="img/subnav.png"></div>
                <h2>嗶你有錢！HappyCash</h2>
                <p>專屬優惠享不停，小額付款最快速。
                  快升級HappyCash卡，點點換現金，七大百貨讓你換不停！</p>
                <input type="button" value="更多詳情">
              </div>
              <div class="menuR">
                <h3>如何使用快樂購卡</h3>
                <div><a href="#">點數及交易明細查詢</a></div>
                <div><a href="#">基本功能介紹</a></div>
                <div><a href="#">基本累兌點原則</a></div>
                <div><a href="#">線上兌換</a></div>
                <div><a href="#">愛心捐點</a></div>
                <div><a href="#">電子發票</a></div>
                <div><a href="#">達人秘笈</a></div>
              </div>
            </div>
          </li>
          <li class="m02">
            <div class="subnavbox">
              <div class="mainL">
                <div class="fL"><img src="img/subnav.png"></div>
                <h2>嗶你有錢！HappyCash</h2>
                <p>專屬優惠享不停，小額付款最快速。
                  快升級HappyCash卡，點點換現金，七大百貨讓你換不停！</p>
                <input type="button" value="更多詳情">
              </div>
              <div class="menuR">
                <h3>如何使用快樂購卡</h3>
                <div><a href="#">新手上路懶人包</a></div>
                <div><a href="#">基本功能介紹</a></div>
                <div><a href="#">基本累兌點原則</a></div>
                <div><a href="#">線上兌換</a></div>
                <div><a href="#">愛心捐點</a></div>
                <div><a href="#">電子發票</a></div>
                <div><a href="#">達人秘笈</a></div>
              </div>
            </div>
          </li>
          <li class="m03">
            <div class="subnavbox">
              <div class="mainL">
                <div class="fL"><img src="img/subnav.png"></div>
                <h2>嗶你有錢！HappyCash</h2>
                <p>專屬優惠享不停，小額付款最快速。
                  快升級HappyCash卡，點點換現金，七大百貨讓你換不停！</p>
                <input type="button" value="更多詳情">
              </div>
              <div class="menuR">
                <h3>如何使用快樂購卡</h3>
                <div><a href="#">新手上路懶人包</a></div>
                <div><a href="#">基本功能介紹</a></div>
                <div><a href="#">基本累兌點原則</a></div>
                <div><a href="#">線上兌換</a></div>
                <div><a href="#">愛心捐點</a></div>
                <div><a href="#">電子發票</a></div>
                <div><a href="#">達人秘笈</a></div>
              </div>
            </div>
          </li>
          <li class="m04">
            <div class="subnavbox">
              <div class="mainL">
                <div class="fL"><img src="img/subnav.png"></div>
                <h2>嗶你有錢！HappyCash</h2>
                <p>專屬優惠享不停，小額付款最快速。
                  快升級HappyCash卡，點點換現金，七大百貨讓你換不停！</p>
                <input type="button" value="更多詳情">
              </div>
              <div class="menuR">
                <h3>如何使用快樂購卡</h3>
                <div><a href="#">新手上路懶人包</a></div>
                <div><a href="#">基本功能介紹</a></div>
                <div><a href="#">基本累兌點原則</a></div>
                <div><a href="#">線上兌換</a></div>
                <div><a href="#">愛心捐點</a></div>
                <div><a href="#">電子發票</a></div>
                <div><a href="#">達人秘笈</a></div>
              </div>
            </div>
          </li>
          <li class="m05">
            <div class="subnavbox">
              <div class="mainL">
                <div class="fL"><img src="img/subnav.png"></div>
                <h2>嗶你有錢！HappyCash</h2>
                <p>專屬優惠享不停，小額付款最快速。
                  快升級HappyCash卡，點點換現金，七大百貨讓你換不停！</p>
                <input type="button" value="更多詳情">
              </div>
              <div class="menuR">
                <h3>如何使用快樂購卡</h3>
                <div><a href="#">新手上路懶人包</a></div>
                <div><a href="#">基本功能介紹</a></div>
                <div><a href="#">基本累兌點原則</a></div>
                <div><a href="#">線上兌換</a></div>
                <div><a href="#">愛心捐點</a></div>
                <div><a href="#">電子發票</a></div>
                <div><a href="#">達人秘笈</a></div>
              </div>
            </div>
          </li>
          <li class="m06">
            <div class="subnavbox">
              <div class="mainL">
                <div class="fL"><img src="img/subnav.png"></div>
                <h2>嗶你有錢！HappyCash</h2>
                <p>專屬優惠享不停，小額付款最快速。
                  快升級HappyCash卡，點點換現金，七大百貨讓你換不停！</p>
                <input type="button" value="更多詳情">
              </div>
              <div class="menuR">
                <h3>如何使用快樂購卡</h3>
                <div><a href="#">新手上路懶人包</a></div>
                <div><a href="#">基本功能介紹</a></div>
                <div><a href="#">基本累兌點原則</a></div>
                <div><a href="#">線上兌換</a></div>
                <div><a href="#">愛心捐點</a></div>
                <div><a href="#">電子發票</a></div>
                <div><a href="#">達人秘笈</a></div>
              </div>
            </div>
          </li>
          <li class="m07">
            <div class="subnavbox">
              <div class="mainL">
                <div class="fL"><img src="img/subnav.png"></div>
                <h2>嗶你有錢！HappyCash</h2>
                <p>專屬優惠享不停，小額付款最快速。
                  快升級HappyCash卡，點點換現金，七大百貨讓你換不停！</p>
                <input type="button" value="更多詳情">
              </div>
              <div class="menuR">
                <h3>如何使用快樂購卡</h3>
                <div><a href="#">新手上路懶人包</a></div>
                <div><a href="#">基本功能介紹</a></div>
                <div><a href="#">基本累兌點原則</a></div>
                <div><a href="#">線上兌換</a></div>
                <div><a href="#">愛心捐點</a></div>
                <div><a href="#">電子發票</a></div>
                <div><a href="#">達人秘笈</a></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div id="container">
  <div class="contractor rspage">
    <div class="tit">快樂購特約商
      <div class="chooset">
        <ul>
          <li>
            <select name="select" id="select">
              <option>台北</option>
            </select>
          </li>
          <li>
            <select name="select" id="select">
              <option>活動類別</option>
            </select>
          </li>
          <li>
            <input type="text"  class="textin" value="請輸入關鍵字">
          </li>
          <li class="btn"><a href="#"></a></li>
        </ul>
      </div>
    </div>
    <div class="order">
          共34家特約商
      <div class="pages">
        <ul>
        <li class="pre select"><a href="#">第一頁</a></li>
        <li class="pre"><a href="#">上一頁</a></li>
<li><a href="#">1</a></li>
          <li class="pre"><a href="#">下一頁</a></li>
          <li class="pre"><a href="#">最後頁</a></li>
        </ul>
        <div class="clr"></div>
      </div>

    </div>
    <div class="listarea">
      <ul>
        <li>
          <div class="imgbox"> <img src="img/contractor-1.jpg"> </div>
          <h3>GOHAPPY快樂購物網</h3>
          <p>GOHAPPY快樂購物網成立於  2007 年 6 月，由遠東集團所投資成立，提供 1200 萬快樂購聯合集點卡友線上購物服務的官方網站，同時結合遠東集團強大的零售通路資源，包括遠東百貨太平洋SOGO百貨、愛買量販店、city'super等知名的實體通路，創造「實虛整合」的全面化服務。月，由遠東集團所投資成立，提供 1200 萬快樂購聯合集點卡友線上購物服務的官方網站，同時結合遠東集團強大的零售通路資源，包括遠東百貨太平洋SOGO百貨、愛買量販店、city'super等知名的實體通路，創造「實虛整合」的東集團強大的零售通路資源，包括遠東百貨太平洋SOGO百貨、愛買量販店、city'super等知名的實體通路，創造「實虛整合」的全面化服務。</p>
          <div class="morebox">
            <div class="more"><a href="#">詳情</a></div>
            <div class="more"><a href="#">台北市分店</a></div>
          </div>
        </li>
        <li>
          <div class="imgbox"> <img src="img/contractor-2.jpg"> </div>
          <h3>太平洋SOGO百貨</h3>
          <p>太平洋SOGO百貨為具有領導流行、高級形象、機能豐富、高品味、高格調之全客層百貨公司。
            太平洋SOGO百貨同時兼顧全家人的需求，能提供全系列商品及服務，滿足國人大多數的生活需求；是一家最滿足以代表華人地區消費指標的百貨公司。</p>
          <div class="morebox">
            <div class="more"><a href="#">詳情</a></div>
            <div class="more"><a href="#">新北市分店</a></div>
          </div>
        </li>
        <li>
          <div class="imgbox"> <img src="img/contractor-3.jpg"> </div>
          <h3>遠企購物中心The Mall</h3>
          <p>部份商品95折至9折起，以現場公告為主註：1.購買禮券不予折扣。2.不適用雅浩、AMBER HOUSE、畫眉(王培浩)、三聯式發票、購買禮券之發票。3.現場實際參與名店以遠企購物中心現場最新公告為主。</p>
          <div class="morebox">
            <div class="more"><a href="#">詳情</a></div>
            <div class="more"><a href="#">查看xxx的分店</a></div>
          </div>
        </li>
        <div class=" clr"></div>
      </ul>
    </div>
  </div>
</div>
<!-- #container-->
<div class="footer">
  <div class="f-menubox m-none">
    <div class="f-menu">
      <ul>
        <li><span class="m1"><a href="#">卡友好康</a></span>
          <ul>
            <li><a href="#">活動列表</a></li>
            <li><a href="#">線上兌換</a></li>
            <li><a href="#">小點數大驚喜</a></li>
          </ul>
        </li>
        <li> <span class="m2"><a href="#">卡友專區</a></span>
          <ul>
            <li><a href="#">登入</a></li>
            <li><a href="#">點數及交易明細查訊</a></li>
            <li><a href="#">網路轉點</a></li>
            <li><a href="#">登錄點數券</a></li>
            <li><a href="#">個人資料維護</a></li>
            <li><a href="#">變更密碼</a></li>
            <li><a href="#">電子發票</a></li>
            <li><a href="#">我的收藏</a></li>
            <li><a href="#">點數兩岸通</a></li>
          </ul>
        </li>
        <li><span class="m3"><a href="#">愛心捐點</a></span>
          <ul>
            <li><a href="#">愛心捐點頁</a></li>
          </ul>
        </li>
        <li><span class="m4"><a href="#">達人GO物誌</a></span>
          <ul>
            <li><a href="#">達人GO物誌頁</a></li>
          </ul>
        </li>
        <li><span class="m5"><a href="#">快樂購特約商</a></span>
          <ul>
            <li><a href="#">特約商首頁</a></li>
          </ul>
        </li>
        <li><span class="m6"><a href="#">快樂購卡介紹</a></span>
          <ul>
            <li><a href="#">申辦快樂購卡</a></li>
            <li><a href="#">快樂購卡大家族</a></li>
            <li><a href="#">基本功能介紹</a></li>
            <li><a href="#">新手上路懶人包</a></li>
          </ul>
        </li>
        <li><span class="m7"><a href="#">連絡我們</a></span>
          <ul>
            <li><a href="#">常見問題</a></li>
            <li><a href="#">客服信箱</a></li>
            <li><a href="#">語音客服專線</a></li>
            <li><a href="#">線上客服</a></li>
          </ul>
        </li>
      </ul>
      <div class="clr"></div>
    </div>
  </div>
  <div class="wm-auto">
    <div class="copybox clr">
      <div class="fL">
        <div>
          <p>鼎鼎聯合行銷(股)公司版權所有 Copyright 2014 All Right Reserved by DDIM</p>
          <p>本網站刊登之所有特約商促銷訊息，均以特約商門市公告為主，若有調整，恕不另行通知，歡迎卡友告知刊登調整！</p>
          <p>本網站GOHAPPY線上購物圖片資訊內容及點數兌換好禮產品，由亞東電子商務股份有限公司提供</p>
          <div class="clr"></div>
        </div>
        <div class="f-subnav m-none">
          <ul>
            <li><a href="#">快樂購卡友權益需知</a></li>
            <li><a href="#">智慧財產權保護聲明</a></li>
            <li><a href="#">快樂購卡特約商服務網站</a></li>
            <li><a href="#">友好夥伴</a></li>
          </ul>
        </div>
      </div>
      <div class="fR logo"><a href="#"></a></div>
      <div class="f-sharenav clr">
        <ul>
          <li class="fb"><a href="#">facebook</a></li>
          <li class="yt"><a href="#">youtube</a></li>
          <li class="rss"><a href="#">rss</a></li>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <!-- wm-auto --> 
</div>
<div class="m-none">
  <div id="adbox"><img src="images/ad.png" width="90" height="300"></div>
</div>
<script src="js/basic.js"></script>
</body>
</html>
